[Desktop Entry]
Name=Hydrogen
Comment=Pattern based drum machine
Comment[pl]=Automat perkusyjny
Exec=hydrogen
Icon=hydrogen
Terminal=false
Type=Application
Categories=Qt;Audio;
# vi: encoding=utf-8
