[Desktop Entry]
Encoding=UTF-8
Name=Hydrogen
Comment=Pattern based drum machine
Comment[pl]=Automat perkusyjny
Exec=hydrogen
Icon=hydrogen.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
# vi: encoding=utf-8
